@import "assets/styles/_variables.scss";
@import "assets/styles/_typography.scss";
@import "assets/styles/_cards.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
  font-family: $body-font;
}

.landing {
  height: 100vh;
}

.sections {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  // background-color: $nav-background;
  // width: 25%;
  // margin: auto;
  // border-radius: 5px;
  &__hamburger {
    font-size: 3rem;
    text-decoration: none;
    // background-color: $nav-background;
    // padding: 0px 40px;
    border-radius: 50px;
  }
  &__links {
    display: none;
  }
}

.header {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: center;
  &__title {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }
  &__desc {
    font-size: 2.25rem;
    text-align: center;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: $body-color;
  &__cta {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  &__btn {
    background-color: $body-color;
    border: none;
    padding: 7px 9px;
    animation: down-repeat 0.8s infinite;
    &__arrow {
      font-size: 1.5rem;
    }
  }
}

@keyframes down-repeat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.about {
  &__header {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
  }
  &__bio__text {
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }
}

.skills {
  &__header {
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin-bottom: 70px;
      &__icon {
        font-size: 3.5rem;
        color: $accent-color;
        margin-bottom: 20px;
      }
      &__desc {
        font-size: 1.2rem;
      }
    }
  }
}

.projects {
  &__header {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
  }
  &__cta {
    text-align: center;
    margin-bottom: 20px;
  }
  &__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact {
  background-color: $accent-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  margin-top: 50px;
  &__method {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__link {
      font-size: 2.7rem;
      color: $body-color;
    }
    &__label {
      font-size: 0.938rem;
      font-weight: 600;
      color: $body-color;
    }
  }
}

.footer {
  background-color: $accent-color;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__info {
    color: $body-color;
    text-align: center;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-top: 50px;
    &__hamburger {
      font-size: 4rem;
    }
  }

  .header {
    &__title {
      font-size: 5rem;
    }
    &__desc {
      font-size: 2.8125rem;
    }
  }

  .explore {
    &__cta {
      font-size: 2rem;
    }
    &__btn {
      .fa-angle-down {
        font-size: 2rem;
      }
    }
  }

  .about {
    &__bio {
      padding-left: 50px;
      padding-right: 50px;
      &__text {
        font-size: 1.3rem;
      }
    }
  }

  .skills__container__item {
    &__icon {
      font-size: 5.5rem;
    }
  }

  .projects {
    &__cta {
      font-size: 1.3rem;
    }
    &__card {
      width: 70%;
      &__info__stack__icon {
        font-size: 2.5rem;
      }
    }
  }

  .contact {
    &__method__link {
      font-size: 4rem;
    }
    &__method__label {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    justify-content: space-around;
    width: 50%;
    margin: 70px auto 0px auto;
    padding: 5px 40px;
    background-color: $nav-background;
    border-radius: 50px;
    &__hamburger {
      display: none;
    }
    &__links {
      display: inline;
      text-decoration: none;
      &:hover {
        color: $accent-color;
        transition: 0.2s;
      }
    }
  }

  .about {
    // make width smaller
  }

  .skills {
    //add hover scale on skills icons here
    // also make width smaller
  }
}
