@import 'assets/styles/_variables.scss';
@import 'assets/styles/_typography.scss';
@import 'assets/styles/_cards.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
  font-family: $body-font;
}

.landing,
.skills,
.projects {
  min-height: 100vh;
}

.sections {
  padding: 20px;
}

.navbar {
  &__menu {
    position: fixed;
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 100%);
    transform: translateY(-100%);
    transition: transform 0.6s;
    width: 100%;
    height: 100vh;
    padding: 100px 20px;
    background-color: $accent-color;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    & > li {
      margin-bottom: 50px;
    }
    &__item {
      color: $body-color;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
  &__hamburger {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: $body-color;
    border-radius: 50%;
    border: none;
    position: fixed;
    margin: 25px;
    z-index: 101;
    & .closeIcon {
      display: none;
      padding: 10px 16px;
      font-size: 2.8rem;
      background-color: rgba(0, 0, 0, 0);
    }
    & .menuIcon {
      padding: 12px 15px;
      font-size: 2.3rem;
      background-color: $accent-color;
      border-radius: 50%;
    }
  }
}

.showMenu {
  transform: translateY(0);
}

.landing__header {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: center;
  &__title {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }
  &__desc {
    font-size: 2.25rem;
    text-align: center;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: $body-color;
  padding-bottom: 50px;
  &__cta {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  &__btn {
    background-color: $body-color;
    border: none;
    padding: 7px 9px;
    animation: down-repeat 0.8s infinite;
    &__arrow {
      font-size: 1.5rem;
    }
  }
}

@keyframes down-repeat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.about {
  &__header {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
  }
  &__bio__text {
    text-align: center;
    line-height: 2.2rem;
  }
  &__bio__text:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.skills {
  &__header {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      margin-bottom: 0px;
      &__icon {
        font-size: 3.5rem;
        color: $accent-color;
        margin-bottom: 20px;
      }
      &__desc {
        font-size: 1.2rem;
      }
    }
  }
}

.projects {
  &__header {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
  }
  &__cta {
    text-align: center;
    margin-bottom: 20px;
  }
  &__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__card {
    width: 90%;
  }
}

// USE FOREACH JS LOOP TO SHOW/HIDE THE INFO ON CLICK

// .projects {
//   &__card__pic,
//   &__card__detail {
//     display: none;
//   }
// }

.contact {
  background-color: $body-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  margin-top: 50px;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  &__method {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__link {
      font-size: 2.7rem;
      color: $accent-color;
    }
    &__label {
      font-size: 0.938rem;
      font-weight: 600;
      color: $accent-color;
    }
  }
}

// .contact {
//   background-color: $accent-color;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   height: 20vh;
//   margin-top: 50px;
//   &__method {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     &__link {
//       font-size: 2.7rem;
//       color: $body-color;
//     }
//     &__label {
//       font-size: 0.938rem;
//       font-weight: 600;
//       color: $body-color;
//     }
//   }
// }

.footer {
  background-color: $accent-color;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__info {
    color: $body-color;
    text-align: center;
    font-weight: 600;
  }
}

// FIRST BREAKPOINT

@media screen and (min-width: 768px) {
  .navbar {
    &__menu {
      & > li {
        margin-bottom: 50px;
      }
      &__item {
        color: $body-color;
        text-decoration: none;
        font-size: 1.8rem;
      }
    }
    &__hamburger {
      margin: 50px;
      & .closeIcon {
        // padding: 4px 10px;
        font-size: 3.5rem;
      }
      & .menuIcon {
        // padding: 7px 10px;
        font-size: 3.5rem;
      }
    }
  }

  .landing {
    &__header {
      padding-bottom: 0px;
      &__title {
        font-size: 4.5rem;
      }
      &__desc {
        font-size: 2.5rem;
      }
    }
    .explore {
      &__cta {
        font-size: 2rem;
      }
      &__btn {
        .fa-angle-down {
          font-size: 2rem;
        }
      }
    }
  }

  .about {
    &__bio {
      padding-left: 50px;
      padding-right: 50px;
      &__text {
        font-size: 1.3rem;
      }
    }
  }

  .skills__container__item {
    margin-bottom: 50px;
    &__icon {
      font-size: 5.5rem;
    }
  }

  .projects {
    &__cta {
      font-size: 1.3rem;
    }
    &__card-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__card {
      width: 40%;
      &__pic {
        width: 70%;
        height: 240px;
      }
      &__info {
        width: 70%;
        &__stack__icon {
          font-size: 2.5rem;
        }
      }
    }
  }

  .contact {
    &__method__link {
      font-size: 4rem;
    }
    &__method__label {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    &__menu {
      justify-content: space-evenly;
      width: 50%;
      height: auto;
      margin: 70px auto 0px auto;
      padding: 5px 40px;
      background-color: $nav-background;
      border-radius: 50px;
      transform: translateY(0);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: $nav-background;
      clip-path: none;
      flex-direction: row;
      & > li {
        margin-bottom: 0px;
      }
      &__item {
        color: $font-color;
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 0px;
        &:hover {
          color: $accent-color;
          transition: 0.3s;
        }
      }
    }
    &__hamburger {
      display: none;
    }
  }

  .about {
    min-height: 75vh;
    &__bio__text {
      padding-left: 25%;
      padding-right: 25%;
      text-align: center;
      line-height: 2.2rem;
      &:first-of-type {
        padding-top: 50px;
      }
    }
  }

  .skills {
    min-height: 80vh;
    &__header {
      width: 50%;
      margin: auto;
      margin-bottom: 60px;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      min-height: 50vh;
      padding-left: 20%;
      padding-right: 20%;
      &__item {
        width: 25%;
        margin-bottom: 0px;
        &__icon {
          font-size: 5rem;
          margin-bottom: 40px;
          &:hover {
            transform: scale(1.8);
            transition: 0.3s;
          }
        }
        // &__desc {
        //   font-size: 1.2rem;
        // }
      }
    }
  }

  .projects {
    &__card-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__card {
      width: 26%;
      &:hover {
        box-shadow: 0px 10px 13px -10px $accent-color,
          1px 9px 13px 4px rgba(0, 0, 0, 0.33);
        transition: 0.3s;
      }
      &__pic {
        width: 60%;
        height: 240px;
      }
      &__info {
        width: 50%;
        &__stack__icon {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .landing {
    &__header {
      padding-top: 120px;
      &__title {
        font-size: 6rem;
      }
      &__desc {
        font-size: 3.5rem;
      }
    }
    .explore {
      &__cta {
        font-size: 2.3rem;
      }
      &__btn {
        .fa-angle-down {
          font-size: 2rem;
        }
      }
    }
  }
  .about {
    &__header {
      margin-bottom: 100px;
    }
    min-height: 60vh;
    &__bio__text {
      padding-left: 25%;
      padding-right: 25%;
      text-align: center;
      line-height: 2.2rem;
      &:first-of-type {
        padding-top: 50px;
      }
    }
  }

  .projects {
    &__card-container {
      justify-content: space-between;
      padding-left: 20%;
      padding-right: 20%;
    }
    &__card {
      width: 30%;
      &:hover {
        box-shadow: 0px 10px 13px -10px $accent-color,
          1px 9px 13px 4px rgba(0, 0, 0, 0.33);
        transition: 0.3s;
      }
      &__pic {
        width: 60%;
        height: 300px;
      }
      &__info {
        width: 50%;
        &__stack__icon {
          font-size: 2.5rem;
        }
      }
    }
  }
}
