h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #e8e9f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unica One", cursive;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid #e53d00;
}

.text-accent {
  color: #ffcf99;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.8rem;
  }
}
.projects__card {
  background: linear-gradient(25deg, #202023 40%, transparent 41%, transparent 59%, #202023 60%), linear-gradient(90deg, transparent 45%, #ffcf99 45%, #ffcf99 55%, transparent 55%, transparent 20%, #ffcf99 20%, #ffcf99 30%, transparent 30%), linear-gradient(90deg, #ffcf99 9%, transparent 10%);
  background-size: 3em 3em;
  background-color: #202023;
  opacity: 1;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  padding: 25px 15px;
  box-shadow: 0px 10px 13px -10px #000000, 1px 9px 13px 4px rgba(0, 0, 0, 0.33);
}
.projects__card__pic {
  width: 75%;
  height: 190px;
  background-color: #202023;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 10px 13px -10px #000000, 1px 9px 13px 4px rgba(0, 0, 0, 0.33);
}
.projects__card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202023;
  border: 3px solid #e53d00;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
  width: 60%;
  font-family: "Poppins", sans-serif;
}
.projects__card__info__stack {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffcf99;
}
.projects__card__info__desc {
  color: #ffcf99;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.projects__card__detail {
  background-color: #ffcf99;
  color: "Poppins", sans-serif;
  border-radius: 15px;
  padding: 15px;
}
.projects__card__detail__text {
  color: #202023;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202023;
  font-family: "Poppins", sans-serif;
}

.landing,
.skills,
.projects {
  min-height: 100vh;
}

.sections {
  padding: 20px;
}

.navbar__menu {
  position: fixed;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 100%);
  transform: translateY(-100%);
  transition: transform 0.6s;
  width: 100%;
  height: 100vh;
  padding: 100px 20px;
  background-color: #ffcf99;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
.navbar__menu > li {
  margin-bottom: 50px;
}
.navbar__menu__item {
  color: #202023;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}
.navbar__hamburger {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  color: #202023;
  border-radius: 50%;
  border: none;
  position: fixed;
  margin: 25px;
  z-index: 101;
}
.navbar__hamburger .closeIcon {
  display: none;
  padding: 10px 16px;
  font-size: 2.8rem;
  background-color: rgba(0, 0, 0, 0);
}
.navbar__hamburger .menuIcon {
  padding: 12px 15px;
  font-size: 2.3rem;
  background-color: #ffcf99;
  border-radius: 50%;
}

.showMenu {
  transform: translateY(0);
}

.landing__header {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: center;
}
.landing__header__title {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}
.landing__header__desc {
  font-size: 2.25rem;
  text-align: center;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #202023;
  padding-bottom: 50px;
}
.explore__cta {
  font-size: 1.75rem;
  margin-bottom: 10px;
}
.explore__btn {
  background-color: #202023;
  border: none;
  padding: 7px 9px;
  animation: down-repeat 0.8s infinite;
}
.explore__btn__arrow {
  font-size: 1.5rem;
}

@keyframes down-repeat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.about__header {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}
.about__bio__text {
  text-align: center;
  line-height: 2.2rem;
}
.about__bio__text:not(:last-of-type) {
  margin-bottom: 40px;
}

.skills__header {
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
}
.skills__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}
.skills__container__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-bottom: 0px;
}
.skills__container__item__icon {
  font-size: 3.5rem;
  color: #ffcf99;
  margin-bottom: 20px;
}
.skills__container__item__desc {
  font-size: 1.2rem;
}

.projects__header {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}
.projects__cta {
  text-align: center;
  margin-bottom: 20px;
}
.projects__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__card {
  width: 90%;
}

.contact {
  background-color: #ffcf99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  margin-top: 50px;
}
.contact__method {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__method__link {
  font-size: 2.7rem;
  color: #202023;
}
.contact__method__label {
  font-size: 0.938rem;
  font-weight: 600;
  color: #202023;
}

.footer {
  background-color: #ffcf99;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__info {
  color: #202023;
  text-align: center;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .navbar__menu > li {
    margin-bottom: 50px;
  }
  .navbar__menu__item {
    color: #202023;
    text-decoration: none;
    font-size: 1.8rem;
  }
  .navbar__hamburger {
    margin: 50px;
  }
  .navbar__hamburger .closeIcon {
    font-size: 3.5rem;
  }
  .navbar__hamburger .menuIcon {
    font-size: 3.5rem;
  }

  .landing__header {
    padding-bottom: 0px;
  }
  .landing__header__title {
    font-size: 4.5rem;
  }
  .landing__header__desc {
    font-size: 2.5rem;
  }
  .landing .explore__cta {
    font-size: 2rem;
  }
  .landing .explore__btn .fa-angle-down {
    font-size: 2rem;
  }

  .about__bio {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about__bio__text {
    font-size: 1.3rem;
  }

  .skills__container__item {
    margin-bottom: 50px;
  }
  .skills__container__item__icon {
    font-size: 5.5rem;
  }

  .projects__cta {
    font-size: 1.3rem;
  }
  .projects__card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .projects__card {
    width: 40%;
  }
  .projects__card__pic {
    width: 70%;
    height: 240px;
  }
  .projects__card__info {
    width: 70%;
  }
  .projects__card__info__stack__icon {
    font-size: 2.5rem;
  }

  .contact__method__link {
    font-size: 4rem;
  }
  .contact__method__label {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    justify-content: space-around;
    width: 50%;
    margin: 70px auto 0px auto;
    padding: 5px 40px;
    background-color: rgba(75, 75, 75, 0.25);
    border-radius: 50px;
  }
}
.about {
  min-height: 75vh;
}
.about__bio__text {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  line-height: 2.2rem;
}
.about__bio__text:first-of-type {
  padding-top: 50px;
}

.skills {
  min-height: 80vh;
}
.skills__header {
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
}
.skills__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  padding-left: 20%;
  padding-right: 20%;
}
.skills__container__item {
  width: 25%;
  margin-bottom: 0px;
}
.skills__container__item__icon {
  font-size: 5rem;
  margin-bottom: 40px;
}
.skills__container__item__icon:hover {
  transform: scale(1.8);
  transition: 0.3s;
}

.projects__card-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects__card {
  width: 26%;
}
.projects__card:hover {
  box-shadow: none;
  transition: 0.3s;
}
.projects__card__pic {
  width: 60%;
  height: 240px;
}
.projects__card__info {
  width: 50%;
}
.projects__card__info__stack__icon {
  font-size: 2.5rem;
}