@import "assets/styles/_variables.scss";
@import "assets/styles/_typography.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-color;
  font-family: $body-font;
  padding: 50px;
}

.landing {
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  &__hamburger {
    font-size: 3rem;
    text-decoration: none;
  }
}

.header {
  height: 60vh;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__title {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
  }
  &__desc {
    font-size: 2.25rem;
    text-align: center;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: $body-color;
  &__cta {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  &__btn {
    background-color: $body-color;
    border: 2px solid $border-color;
    padding: 7px 9px;
    border-radius: 50%;
    .fa-angle-down {
      font-size: 1.2rem;
    }
  }
}

.about {
  &__header {
    margin-bottom: 50px;
  }
  &__bio > * {
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }
}

.skills {
  &__header {
    margin-bottom: 60px;
  }
  &__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 70px;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__icon {
        font-size: 3.5rem;
        color: $accent-color;
        margin-bottom: 20px;
      }
      &__desc {
        font-size: 1.2rem;
      }
    }
  }
}

.projects {
  &__header {
    margin-bottom: 50px;
  }
}
