.projects__card {
  width: 90%;
  background: linear-gradient(25deg, #202023 40%, transparent 41%, transparent 59%, #202023 60%), linear-gradient(90deg, transparent 45%, #ffcf99 45%, #ffcf99 55%, transparent 55%, transparent 20%, #ffcf99 20%, #ffcf99 30%, transparent 30%), linear-gradient(90deg, #ffcf99 9%, transparent 10%);
  background-size: 3em 3em;
  background-color: #202023;
  opacity: 1;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  padding: 25px 15px;
}
.projects__card__pic {
  width: 75%;
  height: 190px;
  background-color: #202023;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 10px 13px -10px #000000, 1px 9px 13px 4px rgba(0, 0, 0, 0.33);
}
.projects__card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202023;
  border: 3px solid #e53d00;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  width: 60%;
}
.projects__card__info__stack {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffcf99;
}
.projects__card__info__desc {
  color: #ffcf99;
  font-weight: 600;
  font-size: 1.2rem;
}
.projects__card__detail {
  background-color: #ffcf99;
  color: #202023;
  border-radius: 5px;
  padding: 10px;
}