.projects {
  .fa-react {
    color: #61dbfb;
  }

  .fa-java {
    color: #5382a1;
  }

  .fa-sass {
    color: #cd669a;
  }

  .fa-bootstrap {
    color: #7b3ff9;
  }

  .fa-html5 {
    color: #e34f26;
  }

  .fa-css3-alt {
    color: #2965f1;
  }

  .fa-js {
    color: #e7d44d;
  }
}
