h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #e8e9f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unica One", cursive;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid #e53d00;
  margin-bottom: 100px;
}

.text-accent {
  color: #ffcf99;
}